---
import Layout from './_layout.astro';
import Anchor_ from '../components/Anchor.astro';
import Tag_ from '../components/Tag.astro';
---

<!-- prettier-ignore -->
<Layout title='Tag'>
  <script>
    import '@itwin/itwinui-icons-elements/close-small';
  </script>
  <style is:global>
    /* Forces grouped tags to display on 1 line, can be set by the dev team. */
    #demo-default-container,
    #demo-truncate {
      width: 445px;
    }
  </style>

  <h1>Tag</h1>
  <hr />

  <h2>Default</h2>
  <section id='demo-default'>
    <Tag_ id='test-tag-1'>Tag</Tag_>
    <br />

    <Tag_ style='max-width: 125px;' buttonProps={{id: 'test-tag-2'}}>Overflowing tag</Tag_>
    <br />
    <Tag_ hasCloseButton={false} >No button</Tag_>
  </section>

  <hr />

  <h2>Default tag containers</h2>
  <section id='demo-default-container'>

    <div class='iui-tag-container iui-visible' aria-label='My tags'>
      <Tag_
        >Tag</Tag_><Tag_
        >Long tag</Tag_><Tag_
        >Very long tag</Tag_><Tag_
        >Very very long tag</Tag_><Tag_
        >Tag</Tag_><Tag_
        >Long tag</Tag_><Tag_
        >Very long tag</Tag_><Tag_
        >Very very long tag</Tag_><Tag_
        >Tag</Tag_><Tag_
        >Long tag</Tag_><Tag_
        >Very long tag</Tag_><Tag_
        >Very very long tag</Tag_>
    </div>

    <br />

    <div class='iui-tag-container iui-visible iui-truncate' aria-label='My tags'>
      <Tag_
        >Tag</Tag_><Tag_
        >Long tag</Tag_><Tag_
        >Very long tag</Tag_><Tag_
        >Very very long tag</Tag_>
    </div>

    <br />

    <div class='iui-tag-container iui-visible iui-scroll' aria-label='My tags'>
      <Tag_
        >Tag</Tag_><Tag_
        >Long tag</Tag_><Tag_
        >Very long tag</Tag_><Tag_
        >Very very long tag</Tag_><Tag_
        >Tag</Tag_><Tag_
        >Long tag</Tag_><Tag_
        >Very long tag</Tag_><Tag_
        >Very very long tag</Tag_><Tag_
        >Tag</Tag_><Tag_
        >Long tag</Tag_><Tag_
        >Very long tag</Tag_><Tag_
        >Very very long tag</Tag_>
    </div>
  </section>

  <hr />
  <h2>Basic tag containers</h2>
  <section id='demo-basic'>
    <div class='iui-tag-container'>
      <Tag_ variant='basic' 
        >tags</Tag_><Tag_ variant='basic' 
        >go</Tag_><Tag_ variant='basic' 
        >here</Tag_><Tag_ variant='basic' 
        >tags</Tag_><Tag_ variant='basic' 
        >go</Tag_><Tag_ variant='basic' 
        >here</Tag_>
    </div>

    <div class='iui-tag-container'>
      <Tag_ variant='basic' as={Anchor_} href='#' id='test-tag-3'
        >tags</Tag_><Tag_ variant='basic' as={Anchor_} href='#' 
        >go</Tag_><Tag_ variant='basic' as={Anchor_} href='#' 
        >here</Tag_><Tag_ variant='basic' as={Anchor_} href='#' 
        >tags</Tag_><Tag_ variant='basic' as={Anchor_} href='#' 
        >go</Tag_><Tag_ variant='basic' as={Anchor_} href='#' 
        >here</Tag_>
    </div>
  </section>

  <h2>Truncate basic tag containers</h2>
  <section id='demo-truncate'>
    <div class='iui-tag-container iui-truncate'>
      <Tag_ variant='basic'
        >tags</Tag_><Tag_ variant='basic'
        >go</Tag_><Tag_ variant='basic' 
        >here</Tag_><Tag_ variant='basic' 
        >tags</Tag_><Tag_ variant='basic'
        >go</Tag_><Tag_ variant='basic' 
        >here</Tag_><Tag_ variant='basic'  
        >tags</Tag_><Tag_ variant='basic'
        >go</Tag_><Tag_ variant='basic' 
        >here</Tag_><Tag_ variant='basic' 
        >tags</Tag_><Tag_ variant='basic' 
        >go</Tag_><Tag_ variant='basic' 
        >here</Tag_><Tag_ variant='basic' 
        >tags</Tag_><Tag_ variant='basic'
        >go</Tag_><Tag_ variant='basic' 
        >here</Tag_><Tag_ variant='basic' 
        >tags</Tag_><Tag_ variant='basic'
        >go</Tag_><Tag_ variant='basic' 
        >here</Tag_><Tag_ variant='basic'  
        >tags</Tag_><Tag_ variant='basic'
        >go</Tag_><Tag_ variant='basic' 
        >here</Tag_><Tag_ variant='basic' 
        >tags</Tag_><Tag_ variant='basic' 
        >go</Tag_><Tag_ variant='basic' 
        >here</Tag_>
    </div>

    <div class='iui-tag-container iui-truncate'>
      <Tag_ variant='basic' as={Anchor_} href='#' id='test-tag-3'
        >tags</Tag_><Tag_ variant='basic' as={Anchor_} href='#' 
        >go</Tag_><Tag_ variant='basic' as={Anchor_} href='#' 
        >here</Tag_><Tag_ variant='basic' as={Anchor_} href='#' 
        >tags</Tag_><Tag_ variant='basic' as={Anchor_} href='#' 
        >go</Tag_><Tag_ variant='basic' as={Anchor_} href='#' 
        >here</Tag_><Tag_ variant='basic' as={Anchor_} href='#' 
        >tags</Tag_><Tag_ variant='basic' as={Anchor_} href='#' 
        >go</Tag_><Tag_ variant='basic' as={Anchor_} href='#' 
        >here</Tag_><Tag_ variant='basic' as={Anchor_} href='#' 
        >tags</Tag_><Tag_ variant='basic' as={Anchor_} href='#' 
        >go</Tag_><Tag_ variant='basic' as={Anchor_} href='#' 
        >here</Tag_><Tag_ variant='basic' as={Anchor_} href='#' 
        >tags</Tag_><Tag_ variant='basic' as={Anchor_} href='#' 
        >go</Tag_><Tag_ variant='basic' as={Anchor_} href='#' 
        >here</Tag_><Tag_ variant='basic' as={Anchor_} href='#' 
        >tags</Tag_><Tag_ variant='basic' as={Anchor_} href='#' 
        >go</Tag_><Tag_ variant='basic' as={Anchor_} href='#' 
        >here</Tag_><Tag_ variant='basic' as={Anchor_} href='#' 
        >tags</Tag_><Tag_ variant='basic' as={Anchor_} href='#' 
        >go</Tag_><Tag_ variant='basic' as={Anchor_} href='#' 
        >here</Tag_><Tag_ variant='basic' as={Anchor_} href='#' 
        >tags</Tag_><Tag_ variant='basic' as={Anchor_} href='#' 
        >go</Tag_><Tag_ variant='basic' as={Anchor_} href='#' 
        >here</Tag_><Tag_ variant='basic' as={Anchor_} href='#' 
        ></Tag_>
    </div>
  </section>
</Layout>
