---
const isDev = import.meta.env.DEV;

const titleSuffix = isDev ? ' (local)' : ' (v3)';
const faviconHref = isDev ? 'favicon-dev.svg' : 'favicon.svg';

const links = [
  { name: 'html pages', href: isDev ? 'http://localhost:3050' : 'css' },
  { name: 'react stories', href: isDev ? 'http://localhost:6006' : 'react' },
  {
    name: 'docs website',
    href: isDev ? 'http://localhost:1700' : 'https://itwinui.bentley.com',
  },
  ...(isDev
    ? [
        { name: 'vite playground', href: 'http://localhost:1701' },
      ]
    : [
        {
          name: 'v3 migration guide',
          href: 'https://github.com/iTwin/iTwinUI/wiki/iTwinUI-react-v3-migration-guide',
        },
        {
          name: 'v2 storybook',
          href: 'https://itwin.github.io/iTwinUI/legacy/v2/react/',
        },
        { name: 'faq', href: 'https://github.com/iTwin/iTwinUI/wiki/FAQ' },
        {
          name: 'styling',
          href: 'https://github.com/iTwin/iTwinUI/wiki/Styling',
        },
      ]),
];
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href={faviconHref} />
    <meta name='viewport' content='width=device-width' />
    <title>iTwinUI{titleSuffix}</title>

    <style is:global>
      @import '@itwin/itwinui-variables';
      @import '@itwin/itwinui-variables/os.css';
      @import '@itwin/itwinui-css';
    </style>
  </head>

  <body class='iui-root' data-iui-theme>
    <h1 class='iui-text-title'>
      <span class='iui-visually-hidden'>iTwinUI</span>{titleSuffix}
    </h1>

    <ul>
      {
        links.map(({ name, href }) => (
          <li>
            <a class='iui-anchor' href={href}>
              {name}
            </a>
          </li>
        ))
      }
    </ul>

    <style>
      body {
        padding: 1.5rem;
        font-size: 1rem;
      }
      h1::before {
        content: '';
        display: inline-block;
        --svg: url('/logo.svg');
        -webkit-mask-image: var(--svg);
        mask: var(--svg) no-repeat center;
        background-color: currentColor;
        height: 3rem;
        width: 8rem;
        transform: translateY(-2px);
        vertical-align: middle;
      }
    </style>
  </body>
</html>
