---
import { getCollection } from 'astro:content';
import { html } from 'htm/react';

const currentPage = Astro.url.pathname.endsWith('/')
  ? Astro.url.pathname.slice(0, -1)
  : Astro.url.pathname;

const introPages = await getCollection('docs', ({ data: { group } }) => group === 'intro');
const mainComponents = await getCollection(
  'docs',
  ({ data: { group, title } }) => group === undefined && title !== 'Typography',
);
const utilityComponents = await getCollection(
  'docs',
  ({ data: { group } }) => group === 'utilities',
);

const NavLink = ({ slug = '', title = '', ...props }) => {
  const url = `/docs/${slug}`.replace(/\/$/g, ''); // removing trailing slash
  const isCurrent = currentPage === url;

  return html`<a href="${url}" aria-current=${isCurrent ? 'page' : 'false'} ...${props}>
    ${title}
  </a>`;
};
---

<nav aria-label='Main' id='main-navigation-list'>
  <ul>
    {
      introPages.map(({ slug, data }) => (
        <li class='nav-link'>
          <NavLink slug={slug} title={data.title} />
        </li>
      ))
    }
  </ul>

  <h2 class='nav-group-title'><a href={'/docs/components'}>Components</a></h2>
  <ul>
    {
      mainComponents.map(({ slug, data }) => (
        <li class='nav-link'>
          <NavLink slug={slug} title={data.title} />
        </li>
      ))
    }
  </ul>

  <div class='nav-group'>
    <h3 class='nav-group-subtitle'>Utilities</h3>
    <ul>
      {
        utilityComponents.map(({ slug, data }) => (
          <li class='nav-link'>
            <NavLink slug={slug} title={data.title} />
          </li>
        ))
      }
    </ul>
  </div>
</nav>

<style lang='scss'>
  @layer components {
    nav {
      width: 100%;
      font-size: var(--type--1);
      height: 100%;
      padding-top: var(--space-7);
      max-height: 100vh;
      min-width: 220px;

      & ul {
        list-style: none;
        padding: 0;
        padding-block-end: var(--space-7);
      }
    }

    .nav-group-title a {
      color: var(--color-subtext);
      font-size: var(--type-0);
      font-weight: 600;
      padding: 0.3rem var(--space-5);
      margin-bottom: var(--space-2);
      text-decoration: none;
      text-transform: uppercase;
      display: block;

      &:where(:hover, :focus) {
        background-color: var(--color-active);
        color: var(--color-text);
      }

      @media (max-width: 50em) {
        color: var(--color-subtext);
        font-size: var(--type-2);
        padding-inline: var(--space-6);
        margin-bottom: var(--space-3);
      }
    }

    .nav-group-subtitle {
      color: var(--color-mutedtext);
      font-size: var(--type--1);
      font-weight: 600;
      padding-inline: var(--space-5);
      margin-bottom: var(--space-2);
      text-transform: uppercase;
      letter-spacing: 0.1ex;

      @media (max-width: 50em) {
        color: var(--color-mutedtext);
        font-size: var(--type-1);
        padding-inline: var(--space-6);
        margin-bottom: var(--space-3);
      }
    }

    .nav-link :global(a) {
      margin: 1px;
      padding: 0.3rem var(--space-5);
      font: inherit;
      font-size: var(--type-0);
      color: var(--color-subtext);
      text-decoration: none;
      display: block;
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;

      &:where(:hover, :focus) {
        background-color: var(--color-active);
        color: var(--color-text);
      }

      @media (max-width: 50em) {
        font-size: var(--type-2);
        padding: var(--space-1) var(--space-6);
        min-height: 44px;
        display: flex;
        align-items: center;
      }

      &[aria-current='page'] {
        background-color: var(--color-active);
        color: var(--color-text);
        position: relative;

        // scroll to current link when page loads, without any JS.
        // based on https://oh-snap.netlify.app/#scroll-start-trick
        animation: scroll-into-view 1.5s;

        @keyframes scroll-into-view {
          from {
            scroll-snap-align: center;
          }
          to {
            scroll-snap-align: unset;
          }
        }

        &::before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          border-left: 2px solid var(--color-text);
          border-top-left-radius: 2px;
          border-bottom-left-radius: 2px;

          @media (max-width: 50em) {
            border-width: 4px;
            border-radius: 0;
          }
        }
      }
    }
  }
</style>
